---
engine: -*- engine:liquid -*-
layout: page
title: 'Archive'
---

<div class="row">
  <div class="col-sm-12 col-lg-10 offset-lg-1">
    <h1>Archive</h1>
    <hr>
    {% assign all = "" | split: "" %}
    {% for coll in site.collections %}
      {% for post in coll.docs %}
        {% assign all = all | push: post %}
      {% endfor %}
    {% endfor %}
    {% assign all = all | where_exp: 'item', 'item.index==nil' | sort: 'date' | reverse %}
    {% include year-archive.html collection=all %}
  </div>
</div>
