---
layout: default
title: Home
cover: false
about: 'about.html'
---

<div class="row">
  <div class="col-md-8">
    <div>
      {% if paginator.posts.size > 0 %}

      {% for post in paginator.posts %}
      <article class="mb-1" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
        <link itemprop="mainEntityOfPage" itemscope itemtype="http://schema.org/BlogPosting" href="{{ post.url }}" />
        <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
        <meta itemprop="author" content="{{ site.author }}" />
        <meta itemprop="publisher" content="{{ site.author }}" />
        <meta itemprop="headline" content="{{ post.title }}" />
        <article>
          <header>
            {% include post-title.html post=page bip=page.title %}
            <link itemprop="mainEntityOfPage" itemscope itemtype="http://schema.org/BlogPosting" href="{{ post.url }}" />
          </header>
          {{ post.content }}
        </article>
      </article>

      {% unless forloop.last %}
      <hr class="my-5">
      {% endunless %}

      {% endfor %}
      <div class="row mt-5">
        <div class="col-sm-6">
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}">&larr; Newer posts</a>
          {% endif %}
        </div>
        <div class="col-6 text-sm-right">
          {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}">Older posts &rarr;</a>
          {% endif %}
        </div>
      </div>

      {% else %}
      <h3>:-(</h3>
      <p>I'm sorry, but there are no posts.</p>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="card small">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between">
          <a href="/micro">Microblog</a>
          <a href="https://micro.blog/ane">
            <img src="/assets/microblog.svg" alt="Follow me on Micro.blog" width="24" height="24">
          </a>
        </h4>

          {% assign micro = site.micro | sort: 'date' | reverse %}
          {% for post in micro %} 
          <div class="micro-feed-entry">
            {{ post.content }}
            <a class="d-block mt-n3 text-sm-right text-muted text-decoration-none" href="{{ site.url }}{{ post.url }}">
                <small>
                {{ post.date | date: '%B %d, %Y at %H:%M' }}
                </small>
            </a>
          </div>

          {% endfor %}
      </div>
    </div>
  </div>
</div>
