---
layout: default
title: Home
cover: false
about: 'about.html'
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div>
                {% if paginator.posts.size > 0 %}
                {% for post in paginator.posts %}
                <article class="post">
                    <header>
                        <h1>
                            <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
                        </h1>
                        {% if post.summary %}
                        <h4>{{ post.summary }}</h4>
                        {% endif %}
                        <p>
                            <time class="text-muted" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                                {{ post.date | date: "%B %-d, %Y" }}
                                {% for tag in post.tags %}
                                <code><a href="/tags/{{ tag }}">{{ tag }}</a></code>
                                {% endfor %}    
                            </time>
                        </p>
                    </header>
                <br>
                    {{ post.content }}
                </article>
                {% endfor %}


                {% include pagination.html %}
                {% else %}
                <h3>:-(</h3>
                <p>I'm sorry, but there are no posts.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
