<header class="main-header">
  <nav id="topnav" class="navbar navbar-full navbar-light bg-faded">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapse-navbar">
            &#9776;
          </button>
          <div class="collapse navbar-toggleable-xs" id="collapse-navbar">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/meta.html">Meta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/archive.html">Archive</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/feed.xml">Subscribe</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
