<nav class="navbar navbar-expand navbar-light bg-light mb-3 rounded">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page.title == 'Home' or page.layout == 'post' %}active{% endif %}">
        <a class="nav-link pl-0" href="/" itemprop="url"><span itemprop="name">Blog</span></a>
      </li>
      <li class="nav-item {% if page.title == 'About' %}active{% endif %}">
        <a class="nav-link" href="/about.html" itemprop="url"><span itemprop="name">About</span></a>
      </li>
      <li class="nav-item {% if page.title == 'Archive' %}active{% endif %}">
        <a class="nav-link" href="/archive.html" itemprop="url"><span itemprop="name">Archive</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i> Subscribe</a>
      </li>
    </ul>
</nav>
