<!-- -*- engine:liquid -*- -->
{% assign post = include.post %}
<header class="post-meta">
  <h1 class="page-header">
    <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
  </h1>
  <p>
    <time class="text-muted post-meta" datetime="{{ post.date | date:"%Y-%m-%d" }}">
      {{ post.date | date: "%B %-d, %Y" }}
      &mdash; In <a href="/{{ page.collection }}">{{ page.collection }}</a>{% if page.category %} / <a href="/{{page.collection}}/{{page.category}}/">{{ page.category }}</a> {% endif %}
    </time>
  </p>
</header>
