<div class="card" style="border-color: transparent; background-color: #f8f8f8;">
    <img class="card-img-top" style="width: 100%" src="/images/me.jpg">
    <div class="card-block">
        <h4 class="card-title">Antoine Kalmbach</h4>
        <h6 class="card-subtitle"><a class="text-muted" href="https://github.com/ane">@ane</a></h6>
        <p class="m-t-1 card-text">I'm a software engineer. This is a blog. It's about software, life, and other silly things.</p>
    </div>
</div>
<div class="card card-block m-b-0" style="border-color: transparent;">
    <h3 class="card-title">Elsewhere</h3>
    <h5>
        <a class="card-link" href="https://github.com/ane"><i class="fa fa-github"></i> Github</a>
    </h5>
    <h5>
        <a class="card-link" href="https://twitter.com/anewtf"><i class="fa fa-twitter-square"></i> Twitter</a>
    </h5>
    <h5>
        <a class="card-link" href="https://twitter.com/anewtf"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
    </h5>
</div>
<div class="card card-block p-t-0" style="border-color: transparent;">
    <h3 class="card-title">Archives</h3>
    {% include year-archive.html %}
</div>
