{% assign collection = include.collection %}
{% for post in collection %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

  {% if forloop.first %}
    <h3 id="{{ this_year }}-ref">{{this_year}}</h3>
    <ul class="list-unstyled">
      <!-- <li id="{{ this_year }}-{{ this_month }}-ref" class="hilink">{{ this_month }} -->
      <!-- <ul> -->
  {% endif %}

  <li>
    <div class="row">
      <div class="col-sm-3">
        <span class="text-muted">{{  post.date | date: "%d %B" }}</span>
      </div>
      <div class="col-sm-9">
        <a href="{{ post.url }}">{{ post.title }}</a> &nbsp;
        {{ for tag in post.tags }}
        <!-- <small style="color: #ccc" class="faded-tags">
             {% for tag in post.tags %}<a href="/tags.html#{{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
             </small>
             </div> -->
      </div>
    </div>
  </li>

  {% if forloop.last %}
    </ul></li>
  {% else %}
      {% if this_year != next_year %}
    </ul>
      </li>
    <h3 id="{{ next_year }}-ref">{{next_year}}</h3>
    <ul class="list-unstyled">
      <!-- <li id="{{ next_year }}-{{ next_month }}-ref" class="hilink">{{ next_month }} -->
      <!-- <ul> -->
      {% else %}    
          {% if this_month != next_month %}
            <!-- </ul> -->
            <!-- <li id="{{ next_year }}-{{ next_month }}-ref" class="hilink">{{ next_month }} -->
            <!-- <ul> -->
          {% endif %}
      {% endif %}
  {% endif %}
{% endfor %}
