{% assign collection = include.collection %}
{% for post in collection %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
{% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

{% if forloop.first %}
<h4 id="{{ this_year }}-ref">{{this_year}}</h4>
<ul>
    <li id="{{ this_year }}-{{ this_month }}-ref" class="hilink">{{ this_month }}
        <ul>
            {% endif %}

            <li><a href="{{ post.url }}">{{ post.title }} <span class="text-muted">&mdash; {{ post.date | date: "%-d %B" }}</span></a></li>

            {% if forloop.last %}
        </ul></li></ul>
{% else %}
{% if this_year != next_year %}
</ul></li></ul>
<h4 id="{{ next_year }}-ref">{{next_year}}</h4>
<ul>
    <li id="{{ next_year }}-{{ next_month }}-ref" class="hilink">{{ next_month }}
        <ul>
            {% else %}    
            {% if this_month != next_month %}
        </ul>
        <li id="{{ next_year }}-{{ next_month }}-ref" class="hilink">{{ next_month }}
            <ul>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
