body {
    font-size: 20px;
    font-family: "PT Serif", "Droid Serif", "Georgia", serif;
    line-height: 1.5;
    color: #000;
}

.main-header h3 {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
}

.post-archive-title {
    margin-bottom: 0.1em;
}

p {
    hyphens: auto;
}

pre {
    font-family: "Source Code Pro", monospace;
    font-size: 11pt;
}

.post-title {
    color: #333;
}

ul.posts {
    padding-left: 0;
}

li.post {
    margin: 2em 0;
    list-style-type: none;
}