body {
    color: #000;
    font-size: 20px;
}

dd {
    margin-left: 40px;
}


h1, h2, h3, h4, h5, h6 {
}

.post-archive-title {
    margin-bottom: 0.1em;
}

.site-tag {
    display: inline-block;
    margin-right: 12px;
}

.navbar-default .navbar-brand {
    color: #333;
    font-size: 22px;
}

.navbar-nav {
}

.post-meta {
    font-size: 80%;
}

.share-icon {
    font-size: 30px;
}

p {
    hyphens: auto;
}

.post-title {
    border: none;
}

ul.posts {
    padding-left: 0;
}

li.post {
    margin: 2em 0;
    list-style-type: none;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    margin-bottom: 5px;
    font-size: 18px;
    list-style-type: none;
    border-left: 2px solid transparent;
}

#toc a {
    text-decoration: none;
    display: block;
}

#toc .toc-h1 {
    padding-left: 10px;
}

#toc .toc-h2 {
    padding-left: 30px;
}

#toc .toc-active {
    border-left: 2px solid #337AB7;
}

article.post + article.post {
    margin-top: 5em;
}

.full-size {
    min-height: 100vh;
    display: flex;
    -webkit-box-align-content: center;
    -webkit-align-content: center;
    -ms-flex-align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-content: center;
}

.full-size h1, .full-size h3 {
    font-family: "PT Serif", "Droid Serif", "Georgia", serif;
}

.full-size h1 {
    font-size: 50px;
}

.full-size .share-icon {
    font-size: 30px;
}
