body {
    font-size: 20px;
    font-family: "PT Serif", "Droid Serif", "Georgia", serif;
    line-height: 1.5;
    color: #000;
}

.main-header h3 {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
}

.post-archive-title {
    margin-bottom: 0.1em;
}

p {
    hyphens: auto;
}

pre {
    font-family: "Source Code Pro", monospace;
    font-size: 11pt;
}

.post-title {
    color: #333;
}

ul.posts {
    padding-left: 0;
}

li.post {
    margin: 2em 0;
    list-style-type: none;
}

#toc-container {
    margin-top: 3.5em;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    margin-bottom: 5px;
    font-size: 18px;
    list-style-type: none;
    border-left: 2px solid transparent;
}

#toc a {
    text-decoration: none;
    display: block;
}

#toc .toc-h1 {
    padding-left: 10px;
}

#toc .toc-h2 {
    padding-left: 30px;
}

#toc .toc-active {
    border-left: 2px solid #337AB7;
}

article.post {
    margin-bottom: 8em;
}