{{ define "main-width" }} col-sm-9 {{ end }}
{{ define "sidebar-width" }} col-sm-3 {{ end }}
{{ define "main" }}
{{ .Render "post" }}
<br>
<br>
<hr>
<div class="clearfix">
    <span class="pull-left">
        {{ if .PrevInSection }}
        Previous: <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
        {{ end }}
    </span>
    <span class="pull-right">
        {{ if .NextInSection }}
        Next: <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
        {{ end }}
    </span>
</div>
<hr>
<footer class="post-footer">
    <section class="disqus text-muted">
        <p><em>If you have any com­ments or ques­tions, feel free to <a href="mailto:ane@iki.fi">email</a> me. Com­ments or ques­tions may be posted as up­dates.</em></p>
    </section>
    <section class="share">
        <p class="text-muted">Share this post:</p>
        <a class="icon-twitter" href="http://twitter.com/share?text=Imprecision%20and%20abstraction&amp;url=http://ane.github.io/2016/03/17/imprecision-and-abstraction.html" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <span class="share-icon"><i class="fa fa-twitter-square"></i></span>
        </a>
        <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://ane.github.io/2016/03/17/imprecision-and-abstraction.html" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <span class="share-icon"><i class="fa fa-facebook-square"></i></span>
        </a>
        <a class="icon-google-plus" href="https://plus.google.com/share?url=http://ane.github.io/2016/03/17/imprecision-and-abstraction.html" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <span class="share-icon"><i class="fa fa-google-plus-square"></i></span>
        </a>
    </section>
</footer>
{{ end }}
