---
layout: default
archive: false
post_class: post-template
---

<div class="d-flex justify-content-between mb-3 small">
  {% if page.previous %}
    <a href="{{ site.url }}{{ page.previous.url }}">Previous</a>
  {% endif %}
  {% if page.next %}  
    <a href="{{ site.url }}{{ page.previous.url }}">Next</a>
    {% endif %}  
</div>

<article class="micro micro-xl h-entry">
  <link itemprop="mainEntityOfPage" itemscope itemtype="http://schema.org/BlogPosting" href="{{ post.url }}" />

  <div class="e-content">
    {{content}}
  </div>

  <time datetime="{{ page.date }}" class="dt-published text-muted mb-4 small">{{ page.date | date: "%A, %B %d, %Y at %H:%M %Z" }}</time> 
  
  {% assign convo = "http://ane.github.io" | append: page.url | url_encode %}

  <script src="https://micro.blog/conversation.js?url={{ convo }}"></script>
</article>


