---
layout: default
post_class: post-template page-template
---

<header>
  <h3>
    <a class="link" href="{{ site.baseurl }}">{{ site.author }}</a>
    &nbsp;
    <small>
      <a class="link" href="{{ site.baseurl }}about.html">About</a>
    </small>
    &nbsp;
    <small>
      <a class="link" href="{{ site.baseurl }}rss.xml">Subscribe</a>
    </small>
  </h3>
</header>

<main class="content" role="main">
  <article class="post">
    <!-- <header class="post-header">
         <a id="blog-logo" href="{{site.baseurl}}">
           {% if site.logo %}
           <img src="{{site.logo}}" alt="{{ site.name }}" />
           {% else %}
           <span class="blog-title">{{ site.name }}</span>
           {%endif%} 
         </a>
    </header> -->

    <h1 class="page-header">{{ page.title }}</h1>

    <section class="post-content">
      {{content}}
    </section>

  </article>

</main>
