---
layout: default
post_class: post-template page-template
---

<header class="main-header">
  <h3>
    <h3>
      <a class="link" href="{{ site.baseurl }}">{{ site.author }}</a>
      <div class="text-muted pull-right">
        <small>
          <a class="link" href="{{ site.baseurl }}about.html">About</a>
        </small>
        &nbsp;
        &nbsp;
        <small>
          <a class="link" href="{{ site.baseurl }}archive.html">Archive</a>
        </small>
        &nbsp;
        &nbsp;
        <small>
          <a class="link" href="{{ site.baseurl }}rss.xml">RSS</a>
        </small>
      </div>
    </h3>
  </h3>
</header>

<main class="content" role="main">
  <article class="post">
    <!-- <header class="post-header">
         <a id="blog-logo" href="{{site.baseurl}}">
           {% if site.logo %}
           <img src="{{site.logo}}" alt="{{ site.name }}" />
           {% else %}
           <span class="blog-title">{{ site.name }}</span>
           {%endif%} 
         </a>
    </header> -->

    <h1>{{ page.title }}</h1>

    <section class="post-content">
      {{content}}
    </section>

  </article>

</main>
