---
layout: default
archive: false
post_class: post-template
---

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-10 offset-lg-1">
      <article>
        <header>
        {% include post-title.html post=page bip=page.title %}
        <link itemprop="mainEntityOfPage" itemscope itemtype="http://schema.org/BlogPosting" href="{{ post.url }}"/>
        </header>
        {{content}}
      </article>

      <small class="text-muted">
      {% if post.tags.size > 0 %} Tagged as {% for tag in post.tags %}<a href="/tags.html#{{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
      </small>
      <hr/>

      <div class="clearfix">
        <span class="float-left">
          {% if page.previous.url %}
            Previous: <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
          {% endif %}
        </span>
        <span class="float-right">
          {% if page.next.url %}
            Next: <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
          {% endif %}
        </span>
      </div>

      <hr/>

      <footer class="post-footer">
        {% include comments.html %}
      </footer>
    </div>
  </div>
</div>
