---
layout: default
archive: false
post_class: post-template
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <header class="post-header">
                <h1>{{ page.title }}</h1>
                {% if page.summary %}
                <h4>{{ page.summary }}</h4>
                {% endif %}
                <section class="text-muted">                
                    <p>
                        <time class="text-muted" datetime="{{ page.date | date:"%Y-%m-%d" }}">
                            {{ page.date | date: "%B %-d, %Y" }}
                        </time>
                    </p>
                    {% if page.categories.size > 0 %} 
                    under 
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }} 
                    {% endif %}
                </section>
            </header>

            <br>

            <article>
                {{content}}
            </article>
            <hr/>
            <p>
                Tags: {% for tag in page.tags %} <code><a href="/tags/{{ tag }}">{{ tag }}</a></code> {% endfor %}    
            </p>
            

            <footer class="post-footer">

                <br>
                <br>
                <br>
                <!-- Share links section -->
                {% include share.html %}
                
                <!-- Disqus comments -->
                {% if page.disqus %}
                {% include disqus.html %}
                {% endif %}
                
            </footer>
        </div>
    </div>
</div>
