---
layout: default
js:
- /assets/js/jquery.sticky.js
---

<div class="container-fluid">
    <div class="row full-size">
        <div class="col-md-8 col-md-offset-2">
        <header>
            <h1>{{ page.title }}</h1>
            
            {% if page.summary %}
            <h3>{{ page.summary }}</h3>
            {% endif %}

            <br/>

            <section class="text-muted">                
                <p>
                    <time class="text-muted" datetime="{{ page.date | date:"%Y-%m-%d" }}">
                        {{ page.date | date: "%A, %B %-d, %Y" }}
                    </time>
                    <p>
                        by <a href="{{ site.baseurl }}">{{ site.author }}</a>
                    </p>
                    {% include share.html %}
                </p>
            </section>
        </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div id="toc-container" class="hidden-xs">
                <div id="toc"></div>
            </div>
        </div>
        <div class="col-md-6">
            <article>
                {{ content }}
            </article>
            <hr/>
            <p>
                Tags: {% for tag in page.tags %} <code><a href="/tags/{{ tag }}">{{ tag }}</a></code> {% endfor %}    
            </p>

            <!-- Disqus comments -->
            {% if page.disqus %}
            {% include disqus.html %}
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
 $(document).ready(function() {
     $('#toc').sticky({topSpacing:30});
     $('#toc').toc({ selectors: "h1, h2", container: 'article' });
 });
</script>

{% for url in page.js %}
<script src="{{ url }}"></script>
{% endfor %}
